<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="filtrar()">Mostrar solo tipo Planet</ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ubicaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="(filtro == 0); then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <ion-item *ngFor="let datos of arrayLocacion">
      <ion-card >
        <ion-card-header>
          <ion-card-title>{{datos.id}} Nombre de planeta: {{datos.name}}</ion-card-title>
          <ion-card-subtitle>Tipo de planeta: {{datos.type}}</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          Dimencion en la que se encuentra:{{datos.dimension}} 
        </ion-card-content>
        <ion-button (click)="irazona(datos.id)">Ver</ion-button>
      </ion-card>
  </ion-item>
  </ng-template>

  <ng-template #elseBlock>
    <ion-item *ngFor="let datos of arrayLocacion2">
      <ion-card >
        <ion-card-header>
          <ion-card-title>{{datos.id}} Nombre de planeta: {{datos.name}}</ion-card-title>
          <ion-card-subtitle>Tipo de planeta: {{datos.type}}</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          Dimencion en la que se encuentra:{{datos.dimension}} 
        </ion-card-content>
        <ion-button (click)="irazona(datos.id)">Ver</ion-button>
      </ion-card>
    
  </ion-item>
  </ng-template>
</ion-content>

